body {
    font-family: 'Lato', sans-serif;
    background: radial-gradient(ellipse at center,#585858 0,#232323 100%);
    color: white;
    background-size: 550% 450%;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

a {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    color: #6c757d;
}

.container-md {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.my-5 {
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1 0 0%;
}

img.rounded-circle {
    border-radius: 50% !important;
}

.text-center {
    text-align: center;
}
