<template>
  <div
    class="container-md"
    vocab="http://xmlns.com/foaf/0.1/"
    resource="#jj"
    typeof="Person"
    >
    <div class="row my-5">
      <div class="col">
	<nuxt-img
	  src="jj.png"
	  class="rounded mx-auto d-block rounded-circle"
	  width="150"
	  height="150"
	  property="img"
	  alt="profile picture"
	  />
      </div> <!-- /.col -->
    </div> <!-- /.row -->
    <div class="row mt-5">
      <div class="col">
	<p>I work as a software engineer at
	  <a
	    property="workplaceHomepage"
	    href="https://careers.etsy.com/global/en"
	    >
	    Etsy</a>, my speciality is
	  <span
	    property="interest"
	    href="https://www.wikidata.org/wiki/Q28865">
	    python
	  </span> and the backend.</p>
	<p>
	  I have a master degree on computer science, I wrote a work titled
	  <a
	    href="https://rei.iteso.mx/bitstream/handle/11117/7633/Improvement_of_prediction_of_heuristic_configuration_for_queue_priority_on_factpp_semantic_reasoner.pdf?sequence=1"
	    property="publications"
	    >
	    Improved prediction of heuristic configuration for queue priority
	    on FaCt++ semantic reasoner
	  </a>
	  as part of the requirements to get my degree.
	</p>
	<p>My interests are the
	  <span
	    property="interest"
	    href="https://www.wikidata.org/wiki/Q54837">semantic web</span>,
	  <span
	    property="interest"
	    href="https://www.wikidata.org/wiki/Q30642"
	    >
	    natural language processing</span>
	  and
	  <span
	    property="interest"
	    href="https://www.wikidata.org/wiki/Q727490"
	    >
	    web scalability</span>.</p>
	<p>There are at least two of my talkings recorded, about
	  <a
	    property="publications"
	    href="https://www.youtube.com/watch?v=edLeh25xIyQ"
	    >
	    open source licensing and compliance</a>
	  and
	  <a
	    property="publications"
	    href="https://youtu.be/TJtLSzRWr40"
	    >
	    the python data model</a>. Both in spanish.
	</p>
	<h1
	  class="text-center mt-5"
	  property="name" lang="es">Juan José González</h1>
	<h2 class="text-center text-muted">Software Engineer</h2>
      </div>
    </div>
  </div> <!-- /.container -->
</template>

<script>
export default {
  name: 'IndexPage'
}
</script>
